@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

html, body, header, .view {
  height: 100%;  
  font-family: "Libre+Baskerville", sans-serif;
  color: #3d6473;
}

body {
    margin-right: 0;
}

.intro-2 {    
    background: linear-gradient(rgba(20,20,20,0.3), rgba(20,20,20,0.3)), url('/assets/images/reflections4.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.view-2 {
    background: linear-gradient(rgba(20,20,20,0.3), rgba(20,20,20,0.3)), url('/assets/images/background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.view-3 {
    background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)), url('/assets/images/reflections2.jpeg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;    
}

.navbar {    
    background-color: #36454f;
    padding: 0;
}

.navbar-brand {
    font-family: "Niconne", sans-serif;
    font-size: 27px;
    color: #48a0c1;
    margin: 10px 10px 5px 15px;
}

.navbar-collapse {
    margin-left: 22px;
    padding-bottom: 5px;
    line-height: 1.5;
}

.fa-bars {
    color: #48a0c1;
    padding-top: 2px;    
}
.navbar-toggler {    
    float: right;
    text-align: right;
    margin: 10px 15px 5px 15px;
    padding: 5px;
}
.nav-item {
    padding-bottom: 5px;
}

.nav-link {
    color: #48a0c1;    
}

.jumbotron {
    background-color: transparent;    
    margin-bottom: 0;
    padding: 0;   
    }

.jumbotron p {    
    font-size: 16px;  
    font-weight: 700;  
    line-height: 1.5;  
    margin-top: 110px;   
    color: white;  
}

h1, h2, small {
    font-weight: 700;
    color: white;  
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 50px;
}

#form {
    font-size: 16px;  
    font-weight: 700;
}

.contact {
    padding-top: 50px;    
}

.fa-ul {
    padding-top: 33px;
    font-size: 16px;
    margin-left: 0;
    font-weight: 700;
    line-height: 1.5; 
    color: white;
}

.fa-li {
    position: relative;
    left: -0.5em;
    }

.who-where-what {
    padding: 50px 0px 50px;
    margin-bottom: 0px;
    }

.contact-form {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 1rem;
    margin-bottom: 0;
}

#name, #email {
    margin-bottom: 10px;
    width: 100%;
}

#text {
    margin-bottom: 7px;
    width: 100%;
    }

#submit {
    margin-bottom: 4px;
}

textarea, label, input, h1, .fb-page {
    max-width: 100%;
    resize: none;
}

ul. button {
    width: 150px;
}

#Facebook {    
    padding-top: 48px;
}

.label {
    padding-right: 2px;
    color: white;
}

.footer {        
    padding-top: 10px;   
    font-size: 0.9rem;
    font-weight: 400;
    color: #48a0c1; 
    background-color: #36454f;    
}

.list-inline {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.list-inline-item {
    font-size: 20px;
    font-weight: 400;
}

.list-inline-item a {
    color: #48a0c1;
}

.list-inline-item:not(:last-child){
    margin-right: 12px;
}

#gallery {
    padding: 48px 0px 48px;
    }

#photo {
    column-count: 2;    
}

#photo img{
    width:100%;
}

.div-about {
    padding-bottom: 48px;
}

#about {
    padding-top: 48px;    
}

.about-text {
    margin-top: 20px;
    }

#about p {     
    font-size: 12px;  
    font-weight: 400;          
    text-align: left;  
    color: white;         
}

.fa-graduation-cap {
    font-size: 13px;
}

.fa-map-marker-alt {
    padding-right: 4px;
}

.fa-user {
    padding-right: 2px;
}

.back-to-top {
    font-size: 0.9rem;
}

#image {
    border: 5px solid #36454f;
    float: left;
    margin-right: 20px;
}

.block-divider {
    width: 100px;
    height: 5px;
    border: 0;
    background-color: #36454f;
}

.button {
  border-radius: 4px;
  background-color: #36454f;
  border: none;
  color: #48a0c1;
  text-align: center;
  font-size: 27px;  
  padding: 5px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 12px;
}

.button a {
    color: #48a0c1;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.submit-button {    
    width: 150px;
}